.footer {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: initial;
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;

      a {
        display: inline-block;
      }
    }
  }
}
