.header {
  height: 50px;
  border-bottom: 1px solid chocolate;
}

.main {
  display: flex;
  height: calc(100vh - 150px);

  article {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section {
  }
}

.aside {
  padding-left: 1rem;

  nav {
    padding-left: 2rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    height: initial;
  }
}

.footer {
  border-top: 1px solid chocolate;
  position: relative;
  bottom: 0;
  height: 100px;
}
