.header {
  width: 100vw;
  height: 10vh;
  border-bottom: 1px solid chocolate;
}

.main {
  display: flex;
  width: 100vw;
  height: 80vh;

  article {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section {
    width: 80vw;
    height: 80vh;
  }
}

.aside {
  width: 20vw;
  height: 80vh;
  border-right: 1px solid chocolate;

  nav {
    display: flex;
    flex-direction: column;
    height: initial;
  }
}

.footer {
  width: 100vw;
  height: 10vh;
  border-top: 1px solid chocolate;
}
