:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #f3f3ff;
  background-color: #0b0b0b;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

a {
  min-height: 44px; /* WCAG 2.5.5: target size; */
  line-height: 44px;
  color: #f3f3ff; /*  WCAG2AAA.Principle1.Guideline1_4.1_4_6.G17 */
}
