.colors {
  > div {
    margin-bottom: 2rem;
  }

  &__panels {
    display: flex;
    flex-flow: wrap;

    &__panel {  
      flex: 1;
      padding: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      border-radius: 10px;

      a {
        min-height: auto;
        line-height: initial;
        color: blue;
      }
 
      &--low-contrast {
        color: rgb(255 255 255);
        background-color: rgb(211 211 211);
      }
  
      &--dark-mode {
        color: #fff;
        background-color: #000;
  
        a:focus-visible {
          outline-color: blue;
        }
      }

      &--light-mode {
        color: #777;
        background-color: #fff;
        border: 1px solid #ccc;
      }
    }

    
  }

  &__too-many {
    display: flex;

    div {
      padding: 0.4rem;
    }

    div:nth-child(1) {
      color: #fff;
      background-color: red;
    }

    div:nth-child(2) {
      color: #fff;
      background-color: green;
    }

    div:nth-child(3) {
      color: #fff;
      background-color: orange;
    }

    div:nth-child(4) {
      color: #fff;
      background-color: blue;
    }

    div:nth-child(5) {
      color: #fff;
      background-color: purple;
    }

    div:nth-child(6) {
      color: #fff;
      background-color: darkcyan;
    }
  }

  &__not-many {
    div:nth-child(1) {
      color: red;
    }

    div:nth-child(2) {
      color: rgb(116 51 51);
    }

    div:nth-child(3) {
      color: blue;
    }
  }

  &__dark-and-smaller {
    font-size: 0.8rem;
    color: #999;
    background-color: #000;
  }

}
