.skiplist {
  padding: 0;
  margin: 0;
}

.skip {
  position: absolute;
  display: none;
  padding: 0;
  margin: 0;
  font-family: verdana, sans-serif;
  text-align: left;
} /* All incl Opera */

/* * html
.skip {
  display: block;
} /* Seen by IE */
:root .skip {
  display: block;
} /* Seen by Moz, FF and Safari */
.skip a {
  position: absolute;
  left: -200em;
  z-index: 2;
  display: inline;
  width: 14em;
  padding: 0 0.5em;
  text-decoration: none;
}

.skip a:focus,
.skip a:active {
  position: absolute;
  left: 0.5em;
  color: #fff;
  background: #555;
  border: solid #333 2px;
}

.skip a:hover {
  cursor: default;
}
