.a11y-for-all {
  ul {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  li {
    margin-bottom: 2rem;
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
    // color: blue;

    &.not-link-like {
      text-decoration: none;
      color: #000;
    }

    &:hover {
      color: rgb(55, 101, 253);
    }
  }

  input {
    background-color: #fff;
    color: #000;
  }

  pre {
    white-space: break-spaces;
    min-width: 280px;

    a {
      color: blue;
    }

    ul {
      padding: 1rem;

      li {
        padding-left: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        list-style-type: disc;
      }
    }
  }

  .section {
    margin-bottom: 6rem;
  }

  ul.disc-list {
    li {
      padding-left: 0.5rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
      margin-left: 2rem;
      list-style-type: disc;
    }
  }

  .flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;

    pre,
    div:not([role='button']) {
      display: flex;
      flex: 1;
      align-items: baseline;
      justify-content: flex-start;
      padding: 1rem 1.4rem;

      &:first-child {
        margin-right: 0.5rem;
      }

      &:last-child {
        margin-left: 0.5rem;
      }

      &.column {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  .white-bg {
    color: #000;
    background-color: #fff;

    
  }

  .underline {
    text-decoration: underline;
  }

  .blue {
    color: blue;
  }

  .error-message {
    font-style: italic;
    color: red;

    &--color-blind {
      color: rgb(116 51 51);
    }
  }

  .info-message {
    font-style: italic;
    color: #eee;
  }

  .input-error {
    border: 2px solid red;

    &--color-blind {
      border: 2px solid rgb(116 51 51);
    }

  }
}

.writing-for-all {
  
}
