.issue {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);
  margin: 0;

  li {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    text-align: left;
  }
}
