.issue {
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 10%);

  li {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    text-align: left;
  }
}

.issue-warning {
  border: 1px solid red;

  &::before {
    margin-right: 0.5rem;
    content: '⚠️';
  }
}
